

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background: #444;
	font-family: 'Georgia';
	filter:alpha(opacity=70%);
	-moz-opacity:.70;
	opacity:.70; 
}

header::after {
	content: '';
	display: table;
	clear: both; 
}

.name {
	float: left;
	color: orange;
	text-decoration: underline;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 30px;
	padding-top: 35px;
	position: relative;
}

nav a {
	color: orange;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

nav a:hover {
	color: white;
}

nav a:before {
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	background-color: white;
	position: absolute;
	top: 0;
	transition: all ease-in-out 250ms;
}

nav a:hover:before {
	width: 100%;
}

.aboutme {
	color: orange;
	font-size: 30px;
	font-weight: bold;
	float: left;
	content: '';
	display: table;
	clear: both;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 140px;
	margin-right: 550px;
	max-width: 650px;
}

.mainContent {
	font-family: 'Arial';
	font-weight: bold;
	position: relative;
	max-width: 650px;
	content: '';
	display: table;
	clear: both;
	float: left;
	margin-left: 140px;
	line-height: 1.5;
	background-color: rgba(255, 255, 255, 0.3);
}

p {
	padding-left: 15px;
	padding-right: 15px;
}

img {
	width: 220px;
	height: 150px;
	content: '';
	display: table;
	clear: both;
	position: relative;
	float: left;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

.footer {
	width: 100%;
	margin top: 50px;
	margin-bottom: 0 auto;
	padding-top: 50px;
	position: relative;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: orange;
	background-color: #444;
	border-top: solid 10px orange;
}

.sidebar {
	position: relative;
	float: right;
	margin-right: 170px;
	width: 270px;
	padding: 10px 10px 40px 10px; 
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: orange;
	background-color: #444;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	display: inline-block;
	margin-left: 10px;
	padding-top: 30px;
	position: relative;
}

.sidebar img {
	width: 50px;
	height: 50px;
}

.contact {
	color: orange;
	font-size: 30px;
	font-weight: bold;
	float: left;
	content: '';
	display: table;
	clear: both;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 140px;
	margin-right: 550px;
	max-width: 650px;	
}

form {
	font-family: 'Serif';
	font-weight: bold;
	position: relative;
	max-width: 650px;
	content: '';
	display: table;
	clear: both;
	float: left;
	margin-left: 140px;
	margin-bottom: 40px;
	line-height: 1.5;
	color: orange;
	background-color: #444;
	border: 15px #444 solid; 
	border-radius: 12px;
}

.submitButton {
	background: orange;
	border-radius: 5px;
}

.nameInput {
	width: 365px;
}

.emailInput {
	width: 365px;
}

.portfolioText {
	color: orange;
	font-size: 30px;
	font-weight: bold;
	float: left;
	content: '';
	display: table;
	clear: both;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 140px;
	margin-right: 550px;
	max-width: 650px;
}

.portfolioText {
	position: relative;
	text-align: center;
	color: orange;
}

.portfolioExamples {
	width: 300px;
	height: 200px;
	margin: 4px;
	position: relative;
	content: '';
	display: inline-block;
	clear: both;
}

.portfolioExamples img {
	width: 100%;
	height: 100%;
}

.portfolioExamples h2 {
	font-size: 30px;
	position: absolute;
	top: 50%;
	z-index: 1;
	color: #fff;
	text-align: center;
	width: 100%;
	margin-left: 10px;
	background-color: orange;
	padding-top: 15px;
	padding-bottom: 15px;
}

.examplesWrap {
	max-width: 650px;
	content: '';
	display: inline-block;
	clear: both;
	float: left;
	margin-bottom: 50px;
	margin-left: 125px;
}

.portfolioExamples img:hover {
	filter: blur(2px);
	transition: .3s;
}

.portfolioExamples h2:hover {
	background-color: rgb(246, 131, 8)
}


